nav {
  padding: 22px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
nav .menu-btn{
  display: none;
}
nav .menu {
  font-size: 20px;
  cursor: pointer;
}
nav h4 {
  font-size: 24px;
  color: var(--white);
}
.nav-links ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-links ul li {
  list-style: none;
  font-size: 14px;
  color: var(--primary-color);
  cursor: pointer;
}
.nav-links ul li:hover {
  color: var(--white);
}
nav button {
  padding: 10px 15px;
  background-color: var(--white);
  color: #111;
  font-size: 12px;
  border-radius: 7px;
  border: none;
}

/* Main CSS */
main {
  padding-top: 90px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
main h1 {
  font-size: 64px;
  text-align: center;
  line-height: 70px;
}
main h1 span {
  color: gray;
}
main .primary-headline {
  width: 640px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: var(--primary-color);
  padding-top: 10px;
}
main p strong {
  color: #a1a1a1;
}
main .icons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
main .icons .arrow-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .icons .destop-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .icons .mobile-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .icons .img {
  background: transparent;
  color: var(--white);
  object-fit: cover;
}
main .icons p {
  background-color: #222222;
  padding: 13px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
main .icons h4 {
  font-size: 15px;
  font-weight: 200;
  color: var(--primary-color);
}
main .buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

main .buttons .left-button {
  border: none;
  background-color: var(--white);
  color: black;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 500;
}
main .buttons .left-button .right-img {
  background-color: var(--white);
  color: black;
}
main .buttons .right-button {
  padding: 10px 38px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 500;
  background-color: #131313;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
main .limited-time {
  padding: 20px 0;
  font-size: 13px;
  color: var(--primary-color);
}


.absolute {
  padding: 10px 20px;
  width: 380px;
  height: 600px;
  background-color: #0a0a0a;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.not-absolute {
  display: none;
}
.absolute .absolute-nav {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.absolute-nav h4 {
  font-size: 24px;
  color: var(--white);
}
.absolute-nav-links ul {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 30px;
}
.absolute-nav-links ul li {
  list-style: none;
  font-size: 14px;
  color: var(--primary-color);
  cursor: pointer;
}
.absolute-nav-links ul li:hover {
  color: var(--white);
}
.absolute-nav-button button {
  padding: 10px 15px;
  background-color: var(--white);
  color: #111;
  font-size: 12px;
  border-radius: 7px;
  border: none;
  width: 100%;
}
.absolute .cross{
  font-size: 15px;
  cursor: pointer;
}

@media (min-width: 760px) and (max-width: 1024px) {
  nav {
    padding: 10px 20px;
  }
}
@media (min-width: 360px) and (max-width: 750px) {
  nav {
    padding: 18px 15px;
  }
  nav .nav-links,
  .button {
    display: none;
  }
  nav .menu-btn {
    display: block;
  }
  nav h4 {
    font-size: 16px;
    font-weight: 400;
  }
  .absolute h4{
    font-size: 15px;
  }
  main {
    padding: 70px 10px 10px 10px;
  }
  main h1 {
    font-size: 28px;
    line-height: 30px;
  }
  main .primary-headline {
    width: 330px;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
  }
  main .buttons {
    flex-direction: column;
  }
  .limited-time {
    font-size: 6px;
    font-weight: 200;
    text-align: center;
    color: var(--primary-color);
    line-height: 24px;
  }
  .limited-time strong {
    font-size: 12px;
    font-weight: 400;
  }
}
